
<article class="free-entry b-1">
	<div style="position: relative; padding-bottom: 56.25%; margin-bottom: 40px; height: 0; overflow: hidden;">
      <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen" loading="eager" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube.com/embed/{{ $.Site.Params.MovieIntroTop}}?autoplay=0&amp;controls=1&amp;end=0&amp;loop=0&amp;mute=0&amp;start=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="YouTube video"></iframe>
    </div>
</article>
<article class="free-entry b-1">
    <header class="entry-header-2">
        <h2 class="bigger-h2">{{ $.Site.Params.MovieIntroHeader }}</h2>
    </header>
    <div class="post-content">
        <p>{{ $.Site.Params.MovieIntroText |safeHTML }}</p>
	<div style="position: relative; padding-bottom: 56.25%; margin-bottom: 40px; height: 0; overflow: hidden;">
      <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen" loading="eager" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube.com/embed/{{ $.Site.Params.MovieYtId}}?autoplay=0&amp;controls=1&amp;end=0&amp;loop=0&amp;mute=0&amp;start=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="YouTube video"></iframe>
    </div>
  
		
    </div>
    <footer class="entry-footer">
	<div class="read-more">

	<a class="read-more" href="{{ $.Site.Params.MovieIntroLink}}" title="Czytaj więcej" >
	<span>Czytaj więcej</span></a>
	</div>
        <div class="social-icons">
</div>


    </footer>
</article> 